
<h1>Dragon Ball Z</h1>

<hr>

<div class="row">

    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let person of personajes">
            <li> {{person.nombre}} - {{person.poder | number}}</li>
        </ul>
    </div>

    <br>

    <div class="col">
        <h3>Agregar</h3>
        <hr>

        <form (ngSubmit)="agregar()">
            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre">
            <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder">
            <button type="submit">Agregar</button>
        </form>

    </div>

</div>
